<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ide"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Eclipse on JavaFX">
         <property
               name="presentationURI"
               value="bundleclass://org.eclipse.e4.ui.workbench.javafx/org.eclipse.e4.ui.workbench.renderers.javafx.JavaFXPresentationEngine">
         </property>
      </product>
   </extension>

</plugin>
